<html>
<head>
    <style>
		.header {
            		z-index: 1;
			position: relative;
			background-color: gray;
			padding-left: 50px;
			margin-right: 50%;
		}

		.logo {
			z-index: 2;
			position: absolute;
		}

		.DiceRoller {
            z-index: 1;
            position: relative;
			border: 2px solid black;
			width: 450px;
			height: 300px;  
		}

		.DieDropdown {
			position: relative;
			display: inline-block;
		}

		.SingleDice {
			z-index: 2;
			display: none;
			position: absolute;
			min-width: 100%;
		}

		.UserDice {
            position: relative;
			white-space: pre;
            top: 50px;
            left: 20px;

		}

		.Roll {
			position: absolute;
			top: 270px;
		}
		.result {
            position: absolute;
            top: 220px;
		}

		.DiceImage {
            width: 200px;
            height: 200px;
		}

    </style>
</head>
<body>
	{{{body}}}
</body>
</html>